body {
	color: white;
	background: black;
}
h1 {
	color: white;
	text-align: center;
}
table, tr, th, td {
	border: 1px solid white;
	color: white;
	align: center;
	padding: 10px;
	zIndex: 50;
}
table {
	background: rgba(20, 40, 40, 0.5);
	margin: auto;
}
th, td {
	background: rgba(20, 20, 20, 0.5);
	text-align: center;
}
img {
	width: 100%;
	height: auto;
	zIndex: 1000;
}
a {
	color: #aaaaff;
	zIndex: 100;
}

.left {
	width: 50%;
	height: 100%;
	float: left;
}
.right {
	width: 50%;
	height: 100%;
	float: right;
}
